/* iPhone, Android rules here */

#container, #content, img.medium, img.double, .double, .excerpt-date, div.timestamp, .archive-date, iframe.center, #site-title, #navigation, #navigation > a, div.thumbnail {
    width:93% !important;
}

#site-title {
    font-size:25pt !important;
}

#site-title, #navigation {
    display:block !important;
    text-align:center;
}

#navigation {
    font-size:9pt !important;
    padding:0 !important;
    margin:0 !important;
}

img.medium {
    float:none !important;
    margin:0 !important;
    padding:0 !important;
}

.double {
    display:block !important;
}

.excerpt-date, div.timestamp {
    display:block !important;
    margin-left:0px !important;
    font-size:12pt !important;
}

div.thumbnail {
    height:200px !important;
}

.archive-date {
    display:block !important;
    text-align:left !important;
}

.archive > a:before {
    content:"☘";
    margin-right:10px;
    color:green;
}

.archive {
    margin-bottom:20px;
}