/* iPhone, Android rules here */

#container, #header, #content, #footer, #site-title {
    width:96% !important;
    margin-left:7px !important;
}

#header {
  min-height:348px !important;
}

#site-title {
    font-size:31pt !important;
    padding-bottom:20px !important;
}

.page-title {
    font-size:12pt !important;
}

h1, h2, .excerpt > a {
  font-size:18pt !important;
}

#site-title, #navigation {
    display:block !important;
}

p.featured {
  font-size:12pt !important;
  line-height: 20pt !important;
}

#navigation > a {
  width:100% !important;
  border-bottom:1px solid #d3d3d3 !important;
  border-right:none !important;
  padding-top:10px !important;
  padding-bottom:10px !important;
}

#navigation > a:last-child {
  border-bottom:none !important;
}

img.medium, img.small, img.large, iframe, img.double, .double {
    float:none !important;
    margin:0 0 10px 0 !important;
    padding:0 !important;
    width:100% !important;
}

div.double {
    display:block !important;
    height:190px !important;
}

img.double {
  display:block;
}

.excerpt-date, div.timestamp {
    display:block !important;
    margin-left:0px !important;
    margin-bottom:10px;
    font-size:12pt !important;
}

div.timestamp {
  line-height:1em !important;
}

.excerpt-date {
  width:100% !important;
}

div.thumbnail {
    display:none;
}

.archive-date {
    display:block !important;
    text-align:left !important;
}

.archive {
    margin-bottom:20px;
}

ul {
    padding-left:0px !important;
}

img.front.right {
    margin: 0px !important;
    padding: 0px !important;
    margin-bottom:25px !important;
    width:100% !important;
}

div.gallery-item, div.gallery-item > a > img {
  max-width:94px !important;
  margin:0 2px 2px 0;
}

img#logo {
  margin-bottom:0px !important;
}