/* iPhone, Android rules here */

#container, #content, #site-title {
    width:97% !important;
    margin-left:5px !important;
}

#site-title {
    font-size:20pt !important;
    padding-top:20px !important;
}

.page-title, h1, .excerpt > a {
    font-size:14pt !important;
}

.page-title, .excerpt > a {
  font-weight:bold !important;
}

h1, h2 {
  font-style: italic !important;
}

#site-title, #navigation {
    display:block !important;
}

#navigation > a {
  width:100% !important;
  border-bottom:1px solid #d3d3d3 !important;
  border-right:none !important;
  padding-top:10px !important;
  padding-bottom:10px !important;
}

#navigation > a:last-child {
  border-bottom:none !important; 
}

img.medium, img.small, img.large, iframe.center, img.double, .double {
    float:none !important;
    margin:0 0 10px 0 !important;
    padding:0 !important;
    width:100% !important;
}

div.double {
    display:block !important;
    height:190px !important;
}

img.double {
  display:block;
}

.excerpt-date, div.timestamp {
    display:block !important;
    margin-left:0px !important;
    font-size:12pt !important;
}

div.timestamp {
  line-height:1em !important;
}

.excerpt-date {
  width:100% !important;
}

div.thumbnail {
    display:none;
}

.archive-date {
    display:block !important;
    text-align:left !important;
}

.archive > a:before {
    content:"☘";
    margin-right:10px;
    color:green;
}

.archive {
    margin-bottom:20px;
}

ul {
    padding-left:0px !important;
}

img.front.right {
    margin: 0px !important;
    padding: 0px !important;
    margin-bottom:25px !important;
    width:100% !important;
}

div.gallery-item, div.gallery-item > a > img {
  max-width:94px !important;
  margin:0 2px 2px 0;
}