<p class="featured">Will make websites for food.</p>

<p>I graduated from <a href="http://rpi.edu/dept/math/" target="_blank">Rensselaer Polytechnic Institute</a> in 2011 with a B.Sci. in Mathematics and from <a href="https://gse-step.stanford.edu/" target="_blank">Stanford University</a> in 2012 with an M.A. in Secondary Education.</p>

<p>I have been designing websites for small businesses in the Bay Area. You can view my latest projects by visiting my <a href="http://jmvx.github.io">Portfolio</a> or following me on <a href="https://github.com/jmvx" target="_blank">GitHub</a>.</p>

<p>If you are interested in working with me, or just want to see what I'm currently up to, please contact me using any of the methods listed below.</p>