<p>I have been teaching 7th grade math at <a
href="http://www.ogsd.k12.ca.us/html/schoolinfo.html" target="_blank">Herman
Intermediate School</a> since August 2012. I also <a href="/portfolio/">design
websites</a> for small businesses in the Bay Area.</p>

<p>I graduated from <a href="http://rpi.edu/dept/math/" target="_blank">Rensselaer Polytechnic Institute</a> in 2011 with a B.S. in Mathematics and from <a href="https://gse-step.stanford.edu/" target="_blank">Stanford University</a> in 2012 with an M.A. in Secondary Education.</p>

<p>You can view most of my recent projects by visiting my <a href="/portfolio/">Portfolio</a> or following me on <a href="https://github.com/jmvx" target="_blank">GitHub</a>.</p>

<p>If you are interested in working with me, or just want to see what I'm up to, please contact me using any of the methods listed below.</p>