---
title: Learning Ruby with Project Euler
categories:
- programming
layout: post
---
<p>My favorite way to teach myself a new programming language is by completing <a href="http://projecteuler.net/" target="_blank">Project Euler</a> levels. Below, I have included some miscellaneous snippets of code I have used on Project Euler. I try not to share any spoilers, so my solutions are stored in a private repository on Github.</p>

{% highlight ruby %}
    {% include /code/rb-factorial.html %}
{% endhighlight %}

{% highlight ruby %}
    {% include /code/rb-totient.html %}
{% endhighlight %}

{% highlight ruby %}
    {% include /code/rb-factor.html %}
{% endhighlight %}

{% highlight ruby %}
    {% include /code/rb-itoa.html %}
{% endhighlight %}