<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
    <!-- page description -->
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/syntax.css" />
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:300,300italic' rel='stylesheet' type='text/css'>
    
    <!-- for lightbox gallery -->
    <script src="/lightbox/js/jquery-1.11.0.min.js"></script>
    <script src="/lightbox/js/lightbox.min.js"></script>
    <link href="/lightbox/css/lightbox.css" rel="stylesheet" />
    
    <!-- google anatlytics -->
    {% include analytics.html %}
    
    <title>jmv.me
        {% if page.title %} | {{ page.title }}</title>
        {% else %} | {{ site.name }}</title>{% endif %}
</head>

<body>
    <div id="container">
        <div id="header">
            <div id="navigation">{% include pages.html %}</div>
            <img id="logo" src="/logo.jpg" />
            <div id="site-title">{{ site.name }}</div>
            <div class="page-title">
              Math Teacher & Freelance Web Designer
            </div>
        </div>
        <div id="content">
            {{ content }}
        </div>
        <div id="footer">
        {% include license.html %}
        </div>
    </div>
</body>

</html>
